@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

main {
    background: #f7e9dc;
    font-family: "DM Sans", sans-serif;
}



.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
